{% extends "todo/base.html" %}

{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

                 <h1>Дисциплина - таков путь!</h1>
            <p>Жизнь - это прекрасно. Жизнь может быть наполнена миллионами разных дел. Но что поистине важно - решать <u>тебе</u>! Я сделал <b><i>Todo List</i></b>, чтобы помочь упростить тебе жизнь и структурировать ее. Твоя новая жизнь ждет тебя.</p>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Вперед!</a>
        </div>
    </div>

{% endblock %}